.titleContainer {
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    padding: 10px;
}

.weatherContainer, .oneDayContainer{
    width: 100%;
}
.oneDayContainer {
    height: 300px;
    border: 1px solid black;
}
.uviColor, .cityUV{
    display: inline;
}
#uviLow {
    background-color: yellow;
}

#uviModerate {
    background-color: orange;
}

#uviHigh {
    background-color: orangered;
}

#uviVeryHigh {
    background-color: red;
}

#uviExtreme {
    background-color: violet;
}
.cityName, .cityTemp, .cityHumidity, .cityWind {
    margin: 20px 20px;
}
.cityUV, .uviColor {
    margin: 20px 0px 40px 0px;
}
.cityUV {
    margin-left: 20px;
}